.body {
    display: flex;
    flex-direction: column;
}

#back-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.details-body {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    padding: 10px;
}

#details {
    font-weight: 700;
}