<div class="body">
    <a routerLink="/" id="back-button"><button mat-raised-button>Go Homepage</button></a>
    <div class="details-body">
        <img mat-card-image src="https://placehold.co/500x500" alt="Photo of a Dog" class="example-body-image">
        <div id="texts">
            <h2> {{product.title}} </h2>
            <p>{{product.description}}</p>
            <div>
                <ul>
                    <li>Color: {{product.properties.color}}</li>
                    <li>Size: {{product.properties.size}}</li>
                    <li>Fabric: {{product.properties.fabric}}</li>
                    <li>In Stock: {{product.properties.inStock}}</li>
                </ul>
                <h3>Price: <span>$</span> {{product.price}} </h3>
            </div>
            <button mat-raised-button style="margin-right: 10px;">Edit</button>
            <button mat-raised-button color="accent" style="margin-right: 10px;">Save</button>
            <button mat-raised-button color="warn" (click)="openModal('0ms', '0ms')">Delete</button>
        </div>
    </div>
</div>