
  <div class="product-container">
    <div *ngFor="let product of allProduct" >
      <mat-card class="card" color="primary">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
            <mat-card-title *ngIf="product.vendor; else altVendor"> {{product.vendor}} </mat-card-title>
          <ng-template #altVendor>
            <mat-card-title> adidas </mat-card-title>
          </ng-template>
          <mat-card-subtitle>Verified</mat-card-subtitle>
        </mat-card-header>
        <ng-container *ngIf="product.image; else altImage">
          <img mat-card-image [src]="product.image" alt="Photo of a T-Shirt" class="body-image">
        </ng-container>
        <ng-template #altImage>
          <img src="https://placehold.co/500x500" alt="Alternative Image" class="body-image">
        </ng-template>
  
        <mat-card-content>
          <h2>{{product.title}}</h2>
          <p>
            {{product.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="/details/{{product._id}}"><button mat-raised-button style="margin-right: 10px;">Details</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
