.product-container {
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.card {
  max-width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  background-color: rgb(242, 222, 255);
}

.header-image {
  background-image: url('https://digitalhub.fifa.com/m/6f4242005904d785/webimage-Partner-asset-inverted-logo-ADIDAS-01.png');
  background-size: cover;
  padding: 5px;
}

.body-image {
  padding: 15px;
}

