<div class="product-body">
    <mat-card class="example-card" color="primary">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Adidas</mat-card-title>
        <mat-card-subtitle>Verified</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://placehold.co/500x500" alt="Photo of a Dog" class="example-body-image">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button style="margin-right: 10px;">EDIT</button>
        <button mat-raised-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="example-card" color="primary">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Adidas</mat-card-title>
        <mat-card-subtitle>Verified</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://placehold.co/500x500" alt="Photo of a Dog" class="example-body-image">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button style="margin-right: 10px;">EDIT</button>
        <button mat-raised-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="example-card" color="primary">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Adidas</mat-card-title>
        <mat-card-subtitle>Verified</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://placehold.co/500x500" alt="Photo of a Dog" class="example-body-image">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button style="margin-right: 10px;">EDIT</button>
        <button mat-raised-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>